body {
  font-family: "Univers LT Pro", sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #444444;
  background-color: #fcfcfc;
}
h1 {
  font-family: "Neo Sans Pro";
  font-weight: 600;
  line-height: 1.1;
  color: #444444;
}

h1.title {
    font-family: "Neo Sans Pro";
    font-weight: 700;
    font-size: 3.0rem;
    letter-spacing: -0.15rem;
}

h2 {
    font-family: "Univers LT Pro";
    font-weight: 700;
}

.author_afil, .author em, .date em {
    font-family: "Univers LT Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: #444444;
}



