/* USSC colours:
light blue  dark blue     orange       pink       grey      green 
 "#4aace9"  "#2f2665"  "#ee4627"  "#e1a6a0"  "#c0c0c0"  "#94c497"
*/


@font-face {
   font-family: 'Halis GR', 'Helvetica', sans-serif;
}


html {
   height:100%;
   background-color: #2a2a2b !important;
}

body {
  /* background: #2a2a2b !important;
  background-color: #2a2a2b !important; */
  color: #eee;
  padding: 24px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

slides {
    /* background: #2a2a2b !important;
    background-color: #2a2a2b !important; */
}

slides > slide {
    display: none;
    background: #2a2a2b !important;
    /* background-color: #2a2a2b !important; */
    font-size: 32px;
    color: #eee !important;
/* color: #797979; */
    height: 700px;
    margin-left: -450px;
    margin-top: -350px;
    padding: 20px 30px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  font-size: 24pt;
  color: #FFFFFF;
  font-family: Halis GR, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2a2a2b !important;
}

slides > slide.backdrop {
  /* background-color: #2a2a2b; */

}

h1{
  color: #cccccc;
  font-family: Halis GR S Bold, sans-serif;
  font-weight:500;
  -webkit-border-radius: 3px 10px 10px 3px;
  -moz-border-radius: 3px 10px 10px 3px;
  -ms-border-radius: 3px 10px 10px 3px;
  -o-border-radius: 3px 10px 10px 3px;
  border-radius: 3px 10px 10px 3px;
}


h2 {
	color: #cccccc;
  font-family:  Halis GR,  sans-serif;
  font-weight: 500;
  -webkit-border-radius: 3px 10px 10px 3px;
  -moz-border-radius: 3px 10px 10px 3px;
  -ms-border-radius: 3px 10px 10px 3px;
  -o-border-radius: 3px 10px 10px 3px;
  border-radius: 3px 10px 10px 3px;

}

p {
  color: white;
  font-family: Halis GR, sans-serif;
  font-weight: 300;
  -webkit-border-radius: 3px 10px 10px 3px;
  -moz-border-radius: 3px 10px 10px 3px;
  -ms-border-radius: 3px 10px 10px 3px;
  -o-border-radius: 3px 10px 10px 3px;
   border-radius: 3px 10px 10px 3px;
}


.gdbar img {
 width: 474px !important;
 height: 147px !important;
 position: absolute;
 right: 0;
}


aside {
   background-color: #2a2a2b !important;
}

aside.gdbar {
    background-color: transparent;
  width: 500px !important;
  height: 170px !important;
}

/* This is for the content slides */
slides > slide:not(.nobackground):before {
  width: 130px;
  height: 40px;
  background-size: 118px 37px;
}

slides > slide.current .gdbar {
    background: #2a2a2b !important;
}

/* These are div styles for multi-column layouts */
/* In slide, apply with: */
/* <div class="column-3-left"> */
/* (content) */
/* </div> */
  .column-3-left{
    float: left;
    width: 33%;
    text-align: left;
  }
  .column-3-center{
    display: inline-block;
    width: 33%;
    text-align: center;
  }
  .column-3-right{
    float: right;
    width: 33%;
    text-align: right;
  }
    .column-2-left{
    float: left;
    width: 50%;
    text-align: left;
  }
  .column-2-right{
    float: right;
    width: 50%;
    text-align: right;
}
