.r2d3 text {
  font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background-color: white;
  text-rendering: optimizeLegibility;
}

.r2d3 .axis path,
.r2d3 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.r2d3 .xaxis {
   font-size: 14px;
}

.r2d3 .xaxis path {
  display: none;
}

.r2d3 .yaxis path {
  display: none;
}

.r2d3 .line {
  fill: none;
  opacity: 0.75;
  shape-rendering: auto;
  stroke: lightslategrey;
  stroke-width: 7px;
}

.r2d3 .line path {
  transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;
}

.r2d3 .title {
   text-anchor: "left";
   font-size: width*0.003em;
   letter-spacing: -1px;
   text-rendering: optimizeLegibility;
}

.r2d3 .name {
  font-size: 0.003em;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.r2d3 .credit {
   text-anchor: left;
   /* font-weight: 400; */
   text-rendering: optimizeLegibility;
}

.r2d3 .grid .tick {
    stroke: lightgrey;
}
.r2d3 .grid path {
    stroke-width: 0;
}

.r2d3 .overlay {
  fill: none;
  pointer-events: all;
}

.r2d3 .d3-tip {
  line-height: 1;
  /* font-weight: bold; */
  padding: 7px;
  background: rgba(0, 0, 0, 0.1);
  color: #111;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.r2d3 .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.1);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.r2d3 .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.r2d3 a:link {
    color: #aaa;
    text-anchor:"start";
}

/* visited link */
.r2d3 a:visited {
    color: "blue";
    text-decoration: underline;
}

/* mouse over link */
.r2d3 a:hover {
    color: #aaa;
}

/* selected link */
.r2d3 a:active {
    color: #aaa;
} 

