/* USSC colours:
light blue  dark blue     orange       pink       grey      green 
 "#4aace9"  "#2f2665"  "#ee4627"  "#e1a6a0"  "#c0c0c0"  "#94c497"
*/


@font-face {
   font-family: 'Halis GR', 'Helvetica', sans-serif;
}

html {
   height:100%
}

slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  font-size: 24pt;
  color: #8c8c8c;
  font-family: Halis GR, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1{
  color: #2f2665;
  font-family: Halis GR, sans-serif;
  -webkit-border-radius: 3px 10px 10px 3px;
  -moz-border-radius: 3px 10px 10px 3px;
  -ms-border-radius: 3px 10px 10px 3px;
  -o-border-radius: 3px 10px 10px 3px;
  border-radius: 3px 10px 10px 3px;
}


h2 {
	color: #ee4627;
  font-family: Halis GR, sans-serif;
  -webkit-border-radius: 3px 10px 10px 3px;
  -moz-border-radius: 3px 10px 10px 3px;
  -ms-border-radius: 3px 10px 10px 3px;
  -o-border-radius: 3px 10px 10px 3px;
  border-radius: 3px 10px 10px 3px;

}

body p {
  color: #8c8c8c;
  font-family: Halis GR, sans-serif;
  font-weight: 100;
  -webkit-border-radius: 3px 10px 10px 3px;
  -moz-border-radius: 3px 10px 10px 3px;
  -ms-border-radius: 3px 10px 10px 3px;
  -o-border-radius: 3px 10px 10px 3px;
   border-radius: 3px 10px 10px 3px;
}


.gdbar img {
 width: 474px !important;
 height: 147px !important;
 position: absolute;
 right: 0;
}


aside.gdbar {
  width: 500px !important;
  height: 170px !important;
}

slides > slide.current .gdbar {
    background: transparent !important;
}

/* This is for the content slides */
slides > slide:not(.nobackground):before {
  width: 130px;
  height: 40px;
  background-size: 118px 37px;
}

/* These are div styles for multi-column layouts */
/* In slide, apply with: */
/* <div class="column-3-left"> */
/* (content) */
/* </div> */
  .column-3-left{
    float: left;
    width: 33%;
    text-align: left;
  }
  .column-3-center{
    display: inline-block;
    width: 33%;
    text-align: center;
  }
  .column-3-right{
    float: right;
    width: 33%;
    text-align: right;
  }
    .column-2-left{
    float: left;
    width: 50%;
    text-align: left;
  }
  .column-2-right{
    float: right;
    width: 50%;
    text-align: right;
}